.FAQ {
  color: black;
}

.naglowek {
  color: black;
}

h3 {
  font-size: large;
}

.box {
  border: 1px;
  border-radius: 8px;
  max-width: 900px;
  padding: 18px 24px;
  margin: 18px;
  -webkit-box-shadow: 24px 24px 11px -8px rgba(66, 68, 90, 0.5);
  -moz-box-shadow: 24px 24px 11px -8px rgba(66, 68, 90, 0.5);
  box-shadow: 24px 24px 11px -8px rgba(66, 68, 90, 0.5);
}

.box .line {
  width: 820px;
  border: 1px solid #ebebeb;
}

.buttonFaq {
  transition: transform 0.3s ease;
  border: none;
  background-color: white;
}

.rotated {
  transform: rotate(-90deg);
}

.imageFaq {
  width: 0.7rem;
  height: 0.7rem;
}

.buttonFaqText {
  border: none;
  background-color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
}

/* 
.button {
  animation-name: rotating_arrow;
  animation-duration: initial;
  animation-iteration-count: infinite;
  transform: rotate(0);
}
@keyframes blinking_arrow {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(45%);
  }
} */
