.dashboard .dashboard-about-me {
  padding-top: 5rem;
}
.dashboard .dashboard-about-me .person {
  background: url('../../Images/Karol_Prusek_foto_1.jpg') no-repeat;
  background-size: 7rem;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
}
